In [1]:
import pandas as pd
import requests as req
import json
from bs4 import BeautifulSoup

In [2]:
weekend_box_1 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m50&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_2 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m4050&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_3 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m3040&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_4 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m2530&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_5 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m2025&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_6 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m1520&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_7 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m1015&sort=opengross&p=.htm&order=DESC')[0]

In [3]:
weekend_box_7

,0,1,2,3,4,5,6,7,8,9,...,6271,6272,6273,6274,6275,6276,6277,6278,6279,6280
0,> ALL TIME BOX OFFICE Adjuster: Actuals Est...,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,...,Lawless,Wein.,"$10,001,982",26.7%,2888.0,"$3,463","$37,400,127",8/29/2012,googletag.cmd.push(function() { googletag.def...,NaN
1,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,...,"$3,463","$37,400,127",8/29/2012,googletag.cmd.push(function() { googletag.def...,NaN,NaN,NaN,NaN,NaN,NaN
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1310,Priest,SGem,"$14,953,664",51.3%,2864,"$5,221","$29,136,626",5/13/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1311,Tag,WB (NL),"$14,947,396",45.3%,3382,"$4,420","$33,013,753",6/15/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1312,Dangerous Minds,BV,"$14,931,503",17.6%,1348,"$11,076","$84,919,401",8/11/1995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1313,The Boy Next Door,Uni.,"$14,910,105",42.1%,2602,"$5,730","$35,423,380",1/23/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1314,Harold and Kumar Escape from Guantanamo Bay,WB (NL),"$14,908,404",39.1%,2510,"$5,940","$38,108,728",4/25/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1315,Surrogates,BV,"$14,902,692",38.6%,2951,"$5,050","$38,577,772",9/25/2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1316,Passengers (2016),Sony,"$14,869,736",14.9%,3478,"$4,275","$100,014,699",12/21/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1317,Inferno,Sony,"$14,860,425",43.3%,3576,"$4,156","$34,343,574",10/28/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1318,Seven Pounds,Sony,"$14,851,136",21.2%,2758,"$5,385","$69,951,824",12/19/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1319,Pitch Perfect,Uni.,"$14,846,830",22.8%,2770,"$5,360","$65,001,093",10/5/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1320,American Assassin,LGF,"$14,846,778",41.0%,3154,"$4,707","$36,249,674",9/15/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1321,A Time to Kill,WB,"$14,823,159",13.6%,2123,"$6,982","$108,766,007",7/24/1996,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1322,Miracles from Heaven,TriS,"$14,812,393",24.0%,3047,"$4,861","$61,705,123",3/16/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1323,Source Code,Sum.,"$14,812,094",27.1%,2961,"$5,002","$54,712,227",4/1/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1324,The Prestige,BV,"$14,801,808",27.9%,2281,"$6,489","$53,089,891",10/20/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1325,Australia,Fox,"$14,800,723",29.9%,2642,"$5,602","$49,554,002",11/26/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1326,The Rite,WB (NL),"$14,789,393",44.8%,2985,"$4,955","$33,047,633",1/28/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1327,Money Monster,TriS,"$14,788,157",36.1%,3104,"$4,764","$41,012,075",5/13/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1328,Queen of the Damned,WB,"$14,757,535",48.6%,2511,"$5,877","$30,336,800",2/22/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1329,Made of Honor,Sony,"$14,756,850",32.1%,2729,"$5,407","$46,012,734",5/2/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1330,The Cabin in the Woods,LGF,"$14,743,614",35.0%,2811,"$5,245","$42,073,277",4/13/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1331,The Messengers,SGem,"$14,713,321",41.6%,2528,"$5,820","$35,374,833",2/2/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1332,White Men Can't Jump,Fox,"$14,711,124",19.3%,1923,"$7,650","$76,253,806",3/27/1992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1333,Overboard (2018),PNT,"$14,711,101",29.6%,1623,"$9,064","$49,670,510",5/4/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,1977,Problem Child,Uni.,"$10,026,900",18.8%,1714,"$5,850","$53,470,891",7/27/1990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,1978,The Reaping,WB,"$10,025,203",39.9%,2603,"$3,851","$25,126,214",4/5/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,1979,The Last Mimzy,NL,"$10,024,819",46.7%,3017,"$3,322","$21,471,047",3/23/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,1980,Valentine,WB,"$10,024,648",49.2%,2310,"$4,339","$20,384,136",2/2/2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,1981,Accepted,Uni.,"$10,023,835",27.6%,2914,"$3,439","$36,323,505",8/18/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,1982,Boyz N the Hood,Col.,"$10,023,462",17.4%,829,"$12,091","$57,504,069",7/12/1991,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,1983,The Untouchables,Par.,"$10,023,094",13.1%,1012,"$9,904","$76,270,454",6/5/1987,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,1984,The X-Files: I Want to Believe,Fox,"$10,021,753",47.8%,3185,"$3,147","$20,982,478",7/25/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,1985,Fat Albert,Fox,"$10,021,510",20.8%,2674,"$3,747","$48,116,322",12/25/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,1986,Conan the Barbarian (2011),LGF,"$10,021,215",47.1%,3015,"$3,324","$21,295,021",8/19/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,1987,Seven Years in Tibet,Sony,"$10,020,378",26.4%,2103,"$4,764","$37,957,682",10/10/1997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,1988,Dragon: The Bruce Lee Story,Uni.,"$10,019,970",28.5%,1887,"$5,310","$35,113,743",5/7/1993,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,1989,Mystery Men,Uni.,"$10,017,865",33.7%,2136,"$4,690","$29,762,011",8/6/1999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,1990,Sea of Love,Uni.,"$10,017,840",17.1%,1246,"$8,040","$58,571,513",9/15/1989,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,1991,In Her Shoes,Fox,"$10,017,575",30.5%,2808,"$3,567","$32,880,591",10/7/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,1992,Sleepwalkers,Col.,"$10,017,354",32.8%,1864,"$5,374","$30,524,763",4/10/1992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,1993,Mr. Brooks,MGM,"$10,017,067",35.1%,2453,"$4,084","$28,549,298",6/1/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,1994,Kidnap (2017),Aviron,"$10,016,323",32.6%,2378,"$4,212","$30,718,107",8/4/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,1995,Rent,SonR,"$10,016,021",34.4%,2433,"$4,116","$29,077,547",11/23/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,1996,Daylight,Uni.,"$10,015,875",30.3%,2175,"$4,605","$33,023,469",12/6/1996,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,1997,Final Destination,NL,"$10,015,822",18.8%,2587,"$3,871","$53,331,147",3/17/2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,1998,Rush (2013),Uni.,"$10,014,920",37.2%,2297,"$4,360","$26,947,624",9/27/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,1999,The American President,Sony,"$10,014,558",16.7%,1508,"$6,640","$60,079,496",11/17/1995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,2000,Fame (2009),MGM,"$10,011,682",44.6%,3096,"$3,234","$22,455,510",9/25/2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,2001,Someone Like You,Fox,"$10,010,600",36.6%,2345,"$4,268","$27,343,067",3/30/2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,2002,All About the Benjamins,NL,"$10,007,291",38.6%,1505,"$6,649","$25,916,319",3/8/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,2003,The Black Dahlia,Uni.,"$10,005,895",44.4%,2226,"$4,495","$22,545,080",9/15/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,2004,The Best of Me,Rela.,"$10,003,827",37.4%,2936,"$3,407","$26,766,213",10/17/2014,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,2005,Lawless,Wein.,"$10,001,982",26.7%,2888,"$3,463","$37,400,127",8/29/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weekend_box_1 = weekend_box_1.iloc[5:]
weekend_box_2 = weekend_box_2.iloc[5:]
weekend_box_3 = weekend_box_3.iloc[5:]
weekend_box_4 = weekend_box_4.iloc[5:]
weekend_box_5 = weekend_box_5.iloc[5:]
weekend_box_6 = weekend_box_6.iloc[5:]
weekend_box_7 = weekend_box_7.iloc[5:]

In [5]:
weekend_box_1 = weekend_box_1[[0,1,2,3,4,5,6,7,8]]
weekend_box_2 = weekend_box_2[[0,1,2,3,4,5,6,7,8]]
weekend_box_3 = weekend_box_3[[0,1,2,3,4,5,6,7,8]]
weekend_box_4 = weekend_box_4[[0,1,2,3,4,5,6,7,8]]
weekend_box_5 = weekend_box_5[[0,1,2,3,4,5,6,7,8]]
weekend_box_6 = weekend_box_6[[0,1,2,3,4,5,6,7,8]]
weekend_box_7 = weekend_box_7[[0,1,2,3,4,5,6,7,8]]

In [6]:
weekend_box_7.head()

,0,1,2,3,4,5,6,7,8
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**
6,1310,Priest,SGem,"$14,953,664",51.3%,2864,"$5,221","$29,136,626",5/13/2011
7,1311,Tag,WB (NL),"$14,947,396",45.3%,3382,"$4,420","$33,013,753",6/15/2018
8,1312,Dangerous Minds,BV,"$14,931,503",17.6%,1348,"$11,076","$84,919,401",8/11/1995
9,1313,The Boy Next Door,Uni.,"$14,910,105",42.1%,2602,"$5,730","$35,423,380",1/23/2015

In [7]:
weekend_box_1.columns = weekend_box_1.iloc[0]
weekend_box_2.columns = weekend_box_2.iloc[0]
weekend_box_3.columns = weekend_box_3.iloc[0]
weekend_box_4.columns = weekend_box_4.iloc[0]
weekend_box_5.columns = weekend_box_5.iloc[0]
weekend_box_6.columns = weekend_box_6.iloc[0]
weekend_box_7.columns = weekend_box_7.iloc[0]

In [8]:
weekend_box_1 = weekend_box_1.iloc[1:]
weekend_box_2 = weekend_box_2.iloc[1:]
weekend_box_3 = weekend_box_3.iloc[1:]
weekend_box_4 = weekend_box_4.iloc[1:]
weekend_box_5 = weekend_box_5.iloc[1:]
weekend_box_6 = weekend_box_6.iloc[1:]
weekend_box_7 = weekend_box_7.iloc[1:]

In [9]:
weekend_box_1 = weekend_box_1[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_2 = weekend_box_2[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_3 = weekend_box_3[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_4 = weekend_box_4[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_5 = weekend_box_5[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_6 = weekend_box_6[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_7 = weekend_box_7[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]

In [10]:
weekend_box_1.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_2.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_3.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_4.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_5.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_6.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_7.columns = ['Title', 'Studio', 'Opening', 'Date']

In [11]:
frames = [weekend_box_1, weekend_box_2, weekend_box_3, weekend_box_4, weekend_box_5, weekend_box_6, weekend_box_7]

weekend_box = pd.concat(frames)

In [12]:
weekend_box = weekend_box[:-1]

In [13]:
weekend_box.tail()

                       Title Studio      Opening        Date
697         Someone Like You    Fox  $10,010,600   3/30/2001
698  All About the Benjamins     NL  $10,007,291    3/8/2002
699         The Black Dahlia   Uni.  $10,005,895   9/15/2006
700           The Best of Me  Rela.  $10,003,827  10/17/2014
701                  Lawless  Wein.  $10,001,982   8/29/2012

In [14]:
weekend_box['Director'] = ''
weekend_box['Budget'] = ''
weekend_box['imdbID'] = ''
weekend_box['month'] = ''
weekend_box['year'] = ''

In [25]:
weekend_box

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,,,,4,2018
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,,,,12,2015
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,,,,12,2017
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,,,,6,2015
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,5,2012
11,Black Panther,BV,"$202,003,951",2/16/2018,,,,2,2018
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015,,,,5,2015
13,Incredibles 2,BV,"$182,687,905",6/15/2018,,,,6,2018
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016,,,,5,2016
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017,,,,3,2017
16,Iron Man 3,BV,"$174,144,585",5/3/2013,,,,5,2013
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011,,,,7,2011
18,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/2016,,,,3,2016
19,The Dark Knight Rises,WB,"$160,887,295",7/20/2012,,,,7,2012
20,The Dark Knight,WB,"$158,411,483",7/18/2008,,,,7,2008
21,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/2013,,,,11,2013
22,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/2016,,,,12,2016
23,The Hunger Games,LGF,"$152,535,747",3/23/2012,,,,3,2012
24,Spider-Man 3,Sony,"$151,116,516",5/4/2007,,,,5,2007
25,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/2018,,,,6,2018
26,Furious 7,Uni.,"$147,187,040",4/3/2015,,,,4,2015
27,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/2017,,,,5,2017
28,The Twilight Saga: New Moon,Sum.,"$142,839,137",11/20/2009,,,,11,2009
29,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/2012,,,,11,2012
30,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/2011,,,,11,2011
31,Pirates of the Caribbean: Dead Man's Chest,BV,"$135,634,554",7/7/2006,,,,7,2006
32,Finding Dory,BV,"$135,060,273",6/17/2016,,,,6,2016
33,Suicide Squad,WB,"$133,682,248",8/5/2016,,,,8,2016
34,Deadpool,Fox,"$132,434,639",2/12/2016,,,,2,2016
35,Iron Man 2,Par.,"$128,122,480",5/7/2010,,,,5,2010
...,...,...,...,...,...,...,...,...,...
672,The Little Rascals,Uni.,"$10,028,065",8/5/1994,,,,,
673,Problem Child,Uni.,"$10,026,900",7/27/1990,,,,,
674,The Reaping,WB,"$10,025,203",4/5/2007,,,,,
675,The Last Mimzy,NL,"$10,024,819",3/23/2007,,,,,
676,Valentine,WB,"$10,024,648",2/2/2001,,,,,
677,Accepted,Uni.,"$10,023,835",8/18/2006,,,,,
678,Boyz N the Hood,Col.,"$10,023,462",7/12/1991,,,,,
679,The Untouchables,Par.,"$10,023,094",6/5/1987,,,,,
680,The X-Files: I Want to Believe,Fox,"$10,021,753",7/25/2008,,,,,
681,Fat Albert,Fox,"$10,021,510",12/25/2004,,,,,
682,Conan the Barbarian (2011),LGF,"$10,021,215",8/19/2011,,,,,
683,Seven Years in Tibet,Sony,"$10,020,378",10/10/1997,,,,,
684,Dragon: The Bruce Lee Story,Uni.,"$10,019,970",5/7/1993,,,,,
685,Mystery Men,Uni.,"$10,017,865",8/6/1999,,,,,
686,Sea of Love,Uni.,"$10,017,840",9/15/1989,,,,,
687,In Her Shoes,Fox,"$10,017,575",10/7/2005,,,,,
688,Sleepwalkers,Col.,"$10,017,354",4/10/1992,,,,,
689,Mr. Brooks,MGM,"$10,017,067",6/1/2007,,,,,
690,Kidnap (2017),Aviron,"$10,016,323",8/4/2017,,,,,
691,Rent,SonR,"$10,016,021",11/23/2005,,,,,
692,Daylight,Uni.,"$10,015,875",12/6/1996,,,,,
693,Final Destination,NL,"$10,015,822",3/17/2000,,,,,
694,Rush (2013),Uni.,"$10,014,920",9/27/2013,,,,,
695,The American President,Sony,"$10,014,558",11/17/1995,,,,,
696,Fame (2009),MGM,"$10,011,682",9/25/2009,,,,,
697,Someone Like You,Fox,"$10,010,600",3/30/2001,,,,,
698,All About the Benjamins,NL,"$10,007,291",3/8/2002,,,,,
699,The Black Dahlia,Uni.,"$10,005,895",9/15/2006,,,,,
700,The Best of Me,Rela.,"$10,003,827",10/17/2014,,,,,
701,Lawless,Wein.,"$10,001,982",8/29/2012,,,,,

In [26]:
for i, r in weekend_box.iterrows():
    date = str(r['Date'])
    print(date)
    split = date.split('/')
    print(split)
    month = split[0]
    print(month)
    year = split[2]
    weekend_box.set_value(i, 'month', month)
    weekend_box.set_value(i, 'year', year)

4/27/2018
['4', '27', '2018']
4
12/18/2015
['12', '18', '2015']
12
12/15/2017
['12', '15', '2017']
12
6/12/2015
['6', '12', '2015']
6
5/4/2012
['5', '4', '2012']
5
2/16/2018
['2', '16', '2018']
2
5/1/2015
['5', '1', '2015']
5
6/15/2018
['6', '15', '2018']
6
5/6/2016
['5', '6', '2016']
5
3/17/2017
['3', '17', '2017']
3
5/3/2013
['5', '3', '2013']
5
7/15/2011
['7', '15', '2011']
7
3/25/2016
['3', '25', '2016']
3
7/20/2012
['7', '20', '2012']
7
7/18/2008
['7', '18', '2008']
7
11/22/2013
['11', '22', '2013']
11
12/16/2016
['12', '16', '2016']
12
3/23/2012
['3', '23', '2012']
3
5/4/2007
['5', '4', '2007']
5
6/22/2018
['6', '22', '2018']
6
4/3/2015
['4', '3', '2015']
4
5/5/2017
['5', '5', '2017']
5
11/20/2009
['11', '20', '2009']
11
11/16/2012
['11', '16', '2012']
11
11/18/2011
['11', '18', '2011']
11
7/7/2006
['7', '7', '2006']
7
6/17/2016
['6', '17', '2016']
6
8/5/2016
['8', '5', '2016']
8
2/12/2016
['2', '12', '2016']
2
5/7/2010
['5', '7', '2010']
5
5/18/2018
['5', '18', '2018']
5
11/19/2010
['11', '19', '2010']
11
9/8/2017
['9', '8', '2017']
9
11/3/2017
['11', '3', '2017']
11
11/21/2014
['11', '21', '2014']
11
5/18/2007
['5', '18', '2007']
5
7/7/2017
['7', '7', '2017']
7
6/14/2013
['6', '14', '2013']
6
3/5/2010
['3', '5', '2010']
3
7/10/2015
['7', '10', '2015']
7
5/3/2002
['5', '3', '2002']
5
5/25/2007
['5', '25', '2007']
5
6/18/2010
['6', '18', '2010']
6
6/24/2009
['6', '24', '2009']
6
5/19/2005
['5', '19', '2005']
5
5/19/2004
['5', '19', '2004']
5
7/8/2016
['7', '8', '2016']
7
4/15/2016
['4', '15', '2016']
4
6/2/2017
['6', '2', '2017']
6
5/26/2006
['5', '26', '2006']
5
11/18/2005
['11', '18', '2005']
11
11/20/2015
['11', '20', '2015']
11
5/22/2008
['5', '22', '2008']
5
6/27/2014
['6', '27', '2014']
6
4/14/2017
['4', '14', '2017']
4
5/2/2008
['5', '2', '2008']
5
6/29/2011
['6', '29', '2011']
6
5/24/2013
['5', '24', '2013']
5
4/4/2014
['4', '4', '2014']
4
8/1/2014
['8', '1', '2014']
8
11/17/2017
['11', '17', '2017']
11
6/4/2004
['6', '4', '2004']
6
5/16/2014
['5', '16', '2014']
5
5/15/2003
['5', '15', '2003']
5
5/2/2014
['5', '2', '2014']
5
5/23/2014
['5', '23', '2014']
5
6/19/2015
['6', '19', '2015']
6
11/16/2001
['11', '16', '2001']
11
5/20/2011
['5', '20', '2011']
5
1/16/2015
['1', '16', '2015']
1
3/3/2017
['3', '3', '2017']
3
11/9/2012
['11', '9', '2012']
11
11/15/2002
['11', '15', '2002']
11
6/30/2004
['6', '30', '2004']
6
4/29/2011
['4', '29', '2011']
4
5/26/2011
['5', '26', '2011']
5
11/8/2013
['11', '8', '2013']
11
5/2/2003
['5', '2', '2003']
5
2/13/2015
['2', '13', '2015']
2
11/4/2016
['11', '4', '2016']
11
5/1/2009
['5', '1', '2009']
5
12/14/2012
['12', '14', '2012']
12
5/25/2018
['5', '25', '2018']
5
2/25/2004
['2', '25', '2004']
2
7/3/2013
['7', '3', '2013']
7
6/21/2013
['6', '21', '2013']
6
5/16/2002
['5', '16', '2002']
5
3/8/2013
['3', '8', '2013']
3
7/15/2009
['7', '15', '2009']
7
12/14/2007
['12', '14', '2007']
12
7/11/2007
['7', '11', '2007']
7
5/19/2006
['5', '19', '2006']
5
12/18/2009
['12', '18', '2009']
12
5/8/2009
['5', '8', '2009']
5
3/4/2016
['3', '4', '2016']
3
11/18/2016
['11', '18', '2016']
11
7/27/2007
['7', '27', '2007']
7
12/13/2013
['12', '13', '2013']
12
7/26/2002
['7', '26', '2002']
7
12/17/2003
['12', '17', '2003']
12
7/11/2014
['7', '11', '2014']
7
6/30/2017
['6', '30', '2017']
6
5/23/1997
['5', '23', '1997']
5
4/3/2009
['4', '3', '2009']
4
3/9/2007
['3', '9', '2007']
3
5/21/2010
['5', '21', '2010']
5
7/3/2007
['7', '3', '2007']
7
11/5/2004
['11', '5', '2004']
11
11/6/2015
['11', '6', '2015']
11
5/30/2003
['5', '30', '2003']
5
3/2/2012
['3', '2', '2012']
3
5/16/2013
['5', '16', '2013']
5
11/21/2008
['11', '21', '2008']
11
5/30/2014
['5', '30', '2014']
5
8/3/2007
['8', '3', '2007']
8
5/15/2015
['5', '15', '2015']
5
2/7/2014
['2', '7', '2014']
2
5/28/2004
['5', '28', '2004']
5
7/27/2001
['7', '27', '2001']
7
5/4/2001
['5', '4', '2001']
5
5/29/2009
['5', '29', '2009']
5
3/31/2006
['3', '31', '2006']
3
5/23/2003
['5', '23', '2003']
5
3/13/2015
['3', '13', '2015']
3
11/14/2008
['11', '14', '2008']
11
8/3/2001
['8', '3', '2001']
8
11/27/2013
['11', '27', '2013']
11
6/21/2013
['6', '21', '2013']
6
6/22/2012
['6', '22', '2012']
6
6/24/2011
['6', '24', '2011']
6
5/27/2016
['5', '27', '2016']
5
5/6/2011
['5', '6', '2011']
5
8/8/2014
['8', '8', '2014']
8
12/9/2005
['12', '9', '2005']
12
11/13/2009
['11', '13', '2009']
11
7/22/2011
['7', '22', '2011']
7
6/29/2005
['6', '29', '2005']
6
6/30/2010
['6', '30', '2010']
6
5/19/1999
['5', '19', '1999']
5
11/7/2008
['11', '7', '2008']
11
6/27/2008
['6', '27', '2008']
6
5/26/2017
['5', '26', '2017']
5
7/16/2010
['7', '16', '2010']
7
7/2/2008
['7', '2', '2008']
7
11/2/2001
['11', '2', '2001']
11
12/25/2009
['12', '25', '2009']
12
6/20/2003
['6', '20', '2003']
6
12/18/2002
['12', '18', '2002']
12
7/3/2012
['7', '3', '2012']
7
4/2/2010
['4', '2', '2010']
4
3/10/2017
['3', '10', '2017']
3
6/8/2012
['6', '8', '2012']
6
6/6/2008
['6', '6', '2008']
6
8/14/2015
['8', '14', '2015']
8
6/9/2006
['6', '9', '2006']
6
8/2/2002
['8', '2', '2002']
8
3/27/2009
['3', '27', '2009']
3
7/22/2016
['7', '22', '2016']
7
7/29/2016
['7', '29', '2016']
7
5/25/2001
['5', '25', '2001']
5
6/15/2007
['6', '15', '2007']
6
2/9/2001
['2', '9', '2001']
2
5/24/2000
['5', '24', '2000']
5
11/24/1999
['11', '24', '1999']
11
7/17/2015
['7', '17', '2015']
7
6/13/2014
['6', '13', '2014']
6
5/30/2008
['5', '30', '2008']
5
11/23/2016
['11', '23', '2016']
11
7/9/2010
['7', '9', '2010']
7
7/14/2017
['7', '14', '2017']
7
2/12/2010
['2', '12', '2010']
2
6/1/2012
['6', '1', '2012']
6
11/7/2014
['11', '7', '2014']
11
7/15/2005
['7', '15', '2005']
7
7/8/2005
['7', '8', '2005']
7
10/4/2013
['10', '4', '2013']
10
6/11/2010
['6', '11', '2010']
6
7/31/2015
['7', '31', '2015']
7
6/13/2008
['6', '13', '2008']
6
2/6/2015
['2', '6', '2015']
2
3/6/2009
['3', '6', '2009']
3
6/3/2011
['6', '3', '2011']
6
11/17/2000
['11', '17', '2000']
11
5/16/2008
['5', '16', '2008']
5
6/11/1999
['6', '11', '1999']
6
8/5/2011
['8', '5', '2011']
8
12/17/2014
['12', '17', '2014']
12
8/7/2009
['8', '7', '2009']
8
3/21/2014
['3', '21', '2014']
3
5/25/2012
['5', '25', '2012']
5
5/29/2015
['5', '29', '2015']
5
7/14/2000
['7', '14', '2000']
7
6/29/2012
['6', '29', '2012']
6
10/2/2015
['10', '2', '2015']
10
5/22/2009
['5', '22', '2009']
5
6/14/2002
['6', '14', '2002']
6
6/16/2017
['6', '16', '2017']
6
6/17/2011
['6', '17', '2011']
6
7/26/2013
['7', '26', '2013']
7
2/10/2017
['2', '10', '2017']
2
6/16/1995
['6', '16', '1995']
6
10/21/2011
['10', '21', '2011']
10
6/28/2006
['6', '28', '2006']
6
7/23/2004
['7', '23', '2004']
7
3/20/2015
['3', '20', '2015']
3
7/16/2004
['7', '16', '2004']
7
7/3/2002
['7', '3', '2002']
7
3/27/2015
['3', '27', '2015']
3
5/7/2004
['5', '7', '2004']
5
11/8/2002
['11', '8', '2002']
11
7/2/1997
['7', '2', '1997']
7
6/8/2012
['6', '8', '2012']
6
6/27/2008
['6', '27', '2008']
6
11/22/2017
['11', '22', '2017']
11
7/18/2001
['7', '18', '2001']
7
7/30/2004
['7', '30', '2004']
7
7/21/2017
['7', '21', '2017']
7
6/6/2003
['6', '6', '2003']
6
10/15/2010
['10', '15', '2010']
10
6/10/2005
['6', '10', '2005']
6
7/3/1996
['7', '3', '1996']
7
4/6/2018
['4', '6', '2018']
4
3/31/2017
['3', '31', '2017']
3
12/14/2005
['12', '14', '2005']
12
5/10/2013
['5', '10', '2013']
5
nan
['nan']
nan

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

IndexError: list index out of range

In [27]:
weekend_box.head()

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,,,,4,2018
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,,,,12,2015
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,,,,12,2017
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,,,,6,2015
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,5,2012

In [28]:
year = weekend_box['year'] > str(2009)

In [29]:
weekend_box = weekend_box[year]

In [30]:
len(weekend_box)

797

In [31]:
omdb = 'http://www.omdbapi.com/?apikey=a74304ec&t='

In [50]:
for index, row in weekend_box.head().iterrows():
    t = str(row['Title'])
    t = t.replace(":","")
    t = t.replace("'","")
    t = t.replace(' ', '+')
    search = omdb + t
    try:
        results = req.get(search).json()
        print(results['Director'])
        weekend_box.set_value(index, 'Director', results['Director'])
        weekend_box.set_value(index, 'imdbID', results['imdbID'])
    except:
        continue

Anthony Russo, Joe Russo
J.J. Abrams
Rian Johnson

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

Colin Trevorrow

In [46]:
weekend_box.to_csv('before_imdb.csv')

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,"Anthony Russo, Joe Russo","$60,000,000",tt4154756,4,2018
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,J.J. Abrams,,tt2488496,12,2015
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,Rian Johnson,"$14,931,503,",tt2527336,12,2017
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,Colin Trevorrow,"$4,000,000",tt0369610,6,2015
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,Matthew Vaughn,"$30,000,000",tt1250777,5,2012

In [47]:
imdb = 'https://www.imdb.com/title/'
for index, row in weekend_box.head().iterrows():
    imdbID = row['imdbID']
    page = imdb + imdbID
    try:
        response = req.get(page)
        soup = BeautifulSoup(response.text, 'html.parser')
        txt_block = soup.find_all('div', class_="txt-block")
        budget_block = txt_block[9]
        budget = budget_block.text
        budget = budget.strip()
        budget = budget.split('\n')[0]
        budget = budget.split(':')[1]
        weekend_box.set_value(index, 'Budget', budget)
    except:
        continue

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [51]:
weekend_box.tail()

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year
222,For Love of the Game,Uni.,"$13,041,685",9/17/1999,Sam Raimi,"$80,000,000",tt0126916,7,2017
224,City Slickers,Col.,"$13,032,121",6/7/1991,Ron Underwood,"$13,032,121,",tt0101587,10,2010
227,Cruel Intentions,Sony,"$13,020,565",3/5/1999,Roger Kumble,"$13,020,565,",tt0139134,4,2018
228,The Longest Ride,Fox,"$13,019,686",4/10/2015,George Tillman Jr.,"$13,019,686,",tt2726560,3,2017
230,Random Hearts,Sony,"$13,012,585",10/8/1999,Sydney Pollack,"$64,000,000",tt0156934,5,2013

In [52]:
weekend_box.to_csv('after_imdb.csv')